<div id="post_content"><h1 class="title"><%= @post.title %></h1>
	<small class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> ago &nbsp; 
		<%= link_to 'Edit', edit_post_path %> | 
		<%= link_to 'Destroy', post_path, method: :delete, data: {confirm: 'Are you sure you want to delete?'} %>
	</small>
	<p class="body"><%= @post.body %></p>

	<div id="comments">
		<h2><%= pluralize(@post.comments.count, 'Comment') %></h2>
		<%= render @post.comments %>

		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
	</div>
</div>
